body {
	background-color: #E9E7E0;
	font-family: Helvetica, Arial, Sans-Serif;
	margin: 0;
	padding: 0;
	color: #42423D;
}
.container {
	background-color: #FFF;
	padding: 15px;
	margin: 0 auto;
	width: 600px;
}
a {
	color: #3D7169;
	font-style: italic;
}
a:hover {
	color: #232323;
}
h1 {
	color: #27221F;
}

.products {
	margin-bottom: 15px;
	padding: 5px 0;
	border-top: solid 1px #D6D3CA;
	border-bottom: solid 1px #D6D3CA;
}
